/*---------*/
/* General */
/*---------*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

:root {
    --primary-color: #9792e4;
    --secondary-color: #B5DDFF;
    --secondary-color-dark: #0084FD;
    --tertiary-color: #333333;
    --accent-color: #FDC15F;
}

/*------*/
/* Flex */
/*------*/

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.h-align {
    justify-content: center;
}

.r-align {
    justify-content: flex-end;
}

.v-align {
    align-items: center;
}

.bottom-align {
    align-items: flex-end;
}

.top-align {
    align-items: flex-start;
}


/*------------*/
/* Basic grid */
/*------------*/

.section {
    padding: 2rem 0;
}

.container {
    width: 964px;
    margin: 0 auto;
    padding: 0 1rem;
}

.container-padding-large {
    padding-left: 6rem;
    padding-right: 6rem;
}

.container-padding-small {
    padding-left: 3rem;
    padding-right: 3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.col {
    flex-basis: 0;
}

.col-20 {
    flex-basis: calc(100% / 5 - 1rem);
    }

.col-33 {
    flex-basis: calc(100% / 3 - 1rem);
    }

.col-66 {
    flex-basis: calc((100% / 3) * 2 - 1rem);
    }


/*---------*/
/* Buttons */
/*---------*/

.btn {
    display: inline-block;
    background-color: #ffffff;
    color: var(--tertiary-color);
    padding: 5px 10px;
    border-radius: 2rem;
}

.btn-large {
    padding: 7px 35px;
}

.btn-jumbo {
    padding: 15px 60px;
}


/*--------*/
/* Colors */
/*--------*/

.bg-primary {
    background-color: var(--primary-color);
}

.color-primary {
    color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-secondary-dark {
    background-color: var(--secondary-color-dark);
}

.color-secondary-dark {
    color: var(--secondary-color-dark);
}

.bg-tertiary {
    background-color: var(--tertiary-color);
}

.bg-white {
    background-color: #ffffff;
}

.color-white {
    color: #ffffff;
}

.color-black {
    color: var(--tertiary-color);
}

.color-accent {
    color: var(--accent-color);
}


/*------------*/
/* Typography */
/*------------*/

a {
    text-decoration: none;
    color: unset;
}

p {
    line-height: 25px;
    color: var(--tertiary-color);
}

h1 {
    font-size: 50px;
    line-height: 60px;
}

h2 {
    font-size: 35px;
    line-height: 45px;
}

h3 {
    font-size: 25px;
    line-height: 35px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h6 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1rem;
    font-weight: 300;
}


/*-------*/
/* Cards */
/*-------*/

.card {
    position: relative;
    padding: 1.5rem 1rem;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
}



/*----------------*/
/* Navigation bar */
/*----------------*/

header nav .col-33 img {
    padding: 1rem 0;
}

.lg-menu,
.md-menu {
    color: #ffffff;
}

.md-menu {
    display: none;
}

.lg-menu ul li {
    list-style: none;
    margin-right: 15px;
}

.lg-menu ul li:last-child {
    margin-right: 0px;
}


/*--------------*/
/* Hero section */
/*--------------*/

.hero h4,
.hero .col-33 i {
    padding-bottom: 1rem;
}

.hero .col-66 a {
    margin-top: 1rem;
}

.hero .col-66 i {
    padding-right: 10px;
}

.hero img {
    width: 200px;
    transform: translateY(2.5rem);
}

.hero .col-33 {
    text-align: center;
}

.hero .col-33 i {
    font-size: 4rem;
}


/*----------------------------*/
/* Strategic planning section */
/*----------------------------*/

.strategic-planning .col img {
    width: 90%;
}

.strategic-planning .col h3 {
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.strategic-planning .col h4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.strategic-planning .card {
    align-self: flex-end;
    width: 80%;
    padding: 2rem;
    text-align: center;
}

.strategic-planning .card p {
    font-style: italic;
    padding-bottom: 1rem;
}


/*----------------------*/
/* Testimonials section */
/*----------------------*/

.testimonials h2,
.testimonials p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.testimonials-info {
    text-align: center;
}

.testimonials .card {
    margin: 1rem 0;
}

.round-photo {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.testimonial-quote {
    font-size: 30px;
    font-weight: 600;
}

.testimonials .card .col h6 {
    padding-top: 1.5rem;
}

#testimonial-1 {
    background-image: url('../img/testimonial1.jpg');
}

#testimonial-2 {
    background-image: url('../img/testimonial2.jpg');
}

#testimonial-3 {
    background-image: url('../img/testimonial3.jpg');
}


/*------------------*/
/* Benefits section */
/*------------------*/

.benefits h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.benefits .card h1,
.benefits .card p {
    padding: 1rem 0;
}


/*------------------*/
/* About Us section */
/*------------------*/

.about-us {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.about-us .col-66 p {
    padding-top: 2rem;
}

#about-us-photo {
    background-image: url('../img/about.jpg');
}

.about-us .col-33 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.about-us .col-33 h3 {
    padding: 1rem 0;
}

.about-us .col-33 .round-photo {
    position: relative;
}

.about-us .col-33 .fa-quote-left {
    font-size: 70px;
    position: absolute;
    right: 0;
}


/*---------------------*/
/* Get Started section */
/*---------------------*/

.get-started {
    text-align: center;
}

.get-started h2,
.get-started a {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.get-started h1 {
    padding-bottom: 1rem;
}

.get-started a {
    text-decoration: underline;
}


/*----------------*/
/* Footer section */
/*----------------*/

footer p {
    padding: 2rem 0;
}

footer a {
    text-decoration: underline;
    color: var(--primary-color);
}


/*------------*/
/* Responsive */
/*------------*/

/* Breakpoints

    -lg -> 992px
    -md -> 768px
    -sm -> 576px

*/

@media screen and (max-width: 992px) {
    .container {
        width: calc(768px - 2rem);
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(576px - 2rem);
    }

    .container-md-padding-default {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .col-md-full {
        flex-basis: calc(100% - 1rem);
    }

    .col-md-half {
        flex-basis: calc((100% / 2) - 1rem);
    }

    .lg-menu {
        display: none;
    }

    .md-menu {
        display: block;
    }

    .strategic-planning .card {
        width: 100%;
    }

    .h3-md-big {
        font-size: 50px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: calc(100% - 2rem);
    }

    .container-sm-padding-default {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .col-sm-full {
        flex-basis: 100%;
    }

    .testimonials .card .col-20 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}