/*---------*/
/* General */
/*---------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #9792e4;
    --secondary-color: #B5DDFF;
    --secondary-color-dark: #0084FD;
    --tertiary-color: #333333;
}

/*------*/
/* Flex */
/*------*/

.flex {
    display: flex;
}

.grow {
    flex-grow: 1;
}

.h-align {
    justify-content: center;
}

.r-align {
    justify-content: flex-end;
}

.v-align {
    align-items: center;
}

.bottom-align {
    align-items: flex-end;
}


/*------------*/
/* Basic grid */
/*------------*/

.section {
    padding: 2rem 0;
}

.container {
    width: 964px;
    margin: 0 auto;
    padding: .5rem 1rem;
    /* Debug */
    border: 1px dashed red;
}

.container-padding-large {
    padding-left: 4rem;
    padding-right: 4rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.col {
    flex-basis: 0;
    /* Debug */
    border: 1px dashed black;
}

.col-33 {
    flex-basis: calc(100% / 3 - 1rem);
    /* Debug */
    border: 1px dashed black;
}

.col-66 {
    flex-basis: calc((100% / 3) * 2 - 1rem);
    /* Debug */
    border: 1px dashed black;
}


/*---------*/
/* Buttons */
/*---------*/

.btn {
    display: inline-block;
    background-color: #ffffff;
    color: var(--tertiary-color);
    padding: 5px 10px;
    border-radius: 2rem;
}

.btn-large {
    padding: 7px 35px
}


/*--------*/
/* Colors */
/*--------*/

.bg-primary {
    background-color: var(--primary-color);
}

.color-primary {
    color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-secondary-dark {
    background-color: var(--secondary-color-dark);
}

.color-secondary-dark {
    color: var(--secondary-color-dark);
}

.bg-tertiary {
    background-color: var(--tertiary-color);
}

.bg-white {
    background-color: #ffffff;
}

.color-white {
    color: #ffffff;
}

.color-black {
    color: var(--tertiary-color);
}


/*------------*/
/* Typography */
/*------------*/

a {
    text-decoration: none;
    color: unset;
}

p {
    line-height: 25px;
    color: var(--tertiary-color);
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}


/*-------*/
/* Cards */
/*-------*/

.card {
    position: relative;
    padding: 1.5rem 1rem;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
}



/*----------------*/
/* Navigation bar */
/*----------------*/

.lg-menu,
.md-menu {
    color: #ffffff;
}

.md-menu {
    display: none;
}

.lg-menu ul li {
    list-style: none;
    margin-right: 15px;
}

.lg-menu ul li:last-child {
    margin-right: 0px;
}


/*--------------*/
/* Hero section */
/*--------------*/

.hero-card-title {
    padding-bottom: 15px;
}

.hero .col-66 a {
    margin-top: 1rem;
}

.hero .col-66 i {
    padding-right: 10px;
}

.hero img {
    width: 200px;
    transform: translateY(2.5rem);
}

.hero .col-33 {
    text-align: center;
}

.hero .col-33 i {
    font-size: 4rem;
}

.hero .col-33 h4 {
    padding: 1rem 0;
}


/*----------------------------*/
/* Strategic planning section */
/*----------------------------*/

.strategic-planning .col img {
    width: 90%;
}

.strategic-planning h3 {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.strategic-planning .card {
    align-self: flex-end;
    width: 80%;
    padding: 2rem;
    text-align: center;
}

.strategic-planning .card h4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.strategic-planning .card p {
    font-style: italic;
    padding-bottom: 1rem;
}


/*------------*/
/* Responsive */
/*------------*/

/* Breakpoints

    -lg -> 992px
    -md -> 768px
    -sm -> 576px

*/

@media screen and (max-width: 992px) {
    .container {
        width: calc(768px - 2rem);
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(576px - 2rem);
    }

    .container-md-padding-default {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .col-md-full {
        flex-basis: calc(100% - 1rem);
    }

    .col-md-half {
        flex-basis: calc((100% / 2) - 1rem);
    }

    .lg-menu {
        display: none;
    }

    .md-menu {
        display: block;
    }

    .strategic-planning .card {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: calc(100% - 2rem);
    }

    .col-sm-full {
        flex-basis: 100%;
    }
}